.buttons {
  @extend %flex-sb;
}

.buttons--center {
  @extend %flex-c;
  margin-right: -8px;
  margin-bottom: -8px;
}

.buttons--round {
  margin: auto;
  width: 206px;
}

.buttons--margin-l {
  margin-right: -$lattice-margin;
  margin-bottom: -$lattice-margin;
}

.buttons__list {
  @extend %list;
}

.buttons__list--round {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.buttons__list--center {
  margin-right: 8px;
  margin-bottom: 8px;
}

.buttons__list--margin-l {
  flex-basis: $btn-width;
  margin-right: $lattice-margin;
  margin-bottom: $lattice-margin;
}

.buttons__list--social {
  @extend %flex-c;
  &:not(:last-child) {
    margin-right: 10px;
  }
  &:not(:first-child) {
    &::before {
      content: '';
      display: inline-block;
      margin-right: 10px;
      height: 22px;
      width: 1px;
      background-color: $primary-text-color;
      opacity: 0.2;
    }
  }
}
