.container {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
  @media screen and (max-width: 1169px) {
    width: calc(100vw - 43px);
  }
}

.container--align-start {
  text-align: start;
}
