.address__items {
  font-size: $footer-text-size;
  font-weight: $footer-text-weight;
  line-height: $footer-text-line-height;
  font-style: normal;
}

.address__items--row {
  @extend %flex-st;
  flex-direction: column-reverse;
  @media screen and (min-width: 768px) {
    flex-direction: column;
    margin-left: 84px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
    margin-left: 305px;
  }
}

.address__list {
  @extend %list;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.address__list--row {
  display: flex;
  &:not(:last-child) {
    margin-right: var(--address-m-r);
  }
  @media screen and (max-width: 767px) {
    &:not(:first-child) {
      margin-bottom: var(--address-m-b);
    }
  }
}

.address__link {
  @extend %link;
  color: $light-footer-text-color;
}

.address__link--row {
  font-size: var(--tel-text-size);
  line-height: var(--tel-text-line-height);
  font-weight: $header-text-weight;
  letter-spacing: $header-letter-spacing;
  font-style: normal;
  color: $hover-text-color;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    color: $grey-text-color;
    transition: color $transition-animation;
    &:hover,
    &:focus,
    &:active {
      color: $hover-text-color;
    }
  }
}

.address__img {
  display: block;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.address__icon {
  fill: currentColor;
}

.address__span {
  margin-left: var(--span-margin-l);
}

.address--size-s {
  @media screen and (max-width: 767px) {
    font-size: $mail-text-size;
    line-height: $mail-text-line-height;
    color: $grey-text-color;
  }
}

.address__button {
  display: none;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: start;
    margin-top: 64px;
  }
}
