.address__items {
  font-size: $footer-text-size;
  font-weight: $footer-text-weight;
  line-height: $footer-text-line-height;
  font-style: normal;
}

.address__items--row {
  @extend %flex-st;
  flex-direction: column-reverse;
  @media screen and (min-width: 768px) {
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
  }
}

.address__list {
  @extend %list;
  margin-bottom: 9px;
}

.address__list--row {
  display: flex;
  &:not(:first-child) {
    margin-bottom: $address-m-b;
  }
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.address__link {
  @extend %link;
  color: $light-footer-text-color;
}

.address__link--row {
  font-size: $tel-text-size;
  line-height: $tel-text-line-height;
  font-weight: $header-text-weight;
  letter-spacing: $header-letter-spacing;
  font-style: normal;
  color: $hover-text-color;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    font-size: $tel-text-size-tab;
    line-height: $tel-text-line-height-tab;
    color: $grey-text-color;
    transition: color $transition-animation;
    &:hover,
    &:focus,
    &:active {
      color: $hover-text-color;
    }
  }
}

.address__img {
  display: block;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.address__icon {
  fill: currentColor;
}

.address__span {
  @media screen and (min-width: 768px) {
    margin-left: 10px;
  }
}

.address--size-s {
  @media screen and (max-width: 767px) {
    font-size: $mail-text-size;
    line-height: $mail-text-line-height;
    color: $grey-text-color;
  }
}

.address__button {
  display: none;
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: start;
    margin-top: 64px;
  }
}
