.footer {
  @extend %flex-sb;
  height: $footer-heigth;
  background-color: $primary-background-color;
  color: $light-text-color;
  padding-top: $footer-padding-top;
  flex-direction: column;
  align-items: center;
  /*align-items: flex-start;*/
}

.footer__social {
  /*padding-right: 23px;*/
}

.footer__title {
  font-size: $card-title-size-s;
  font-weight: $card-title-s-weight;
  line-height: $card-title-s-line-height;
  margin-bottom: 20px;
  margin-top: $footer-padding-top;
  text-align: center;
}

.footer__button {
  margin: 0 auto;
}
