.footer {
  overflow: hidden;
  text-align: center;
  height: var(--footer-heigth);
  background-color: $primary-background-color;
  color: $light-text-color;
  padding-top: $footer-padding-top;
  /*@extend %flex-sb;*/
  /*align-items: flex-start;*/
}

/*.footer__address {
  align-items: inherit;
}*/

.footer__social {
  /*padding-right: 23px;*/
}

.footer__title {
  font-size: $card-title-size-s;
  font-weight: $card-title-s-weight;
  line-height: $card-title-s-line-height;
  margin-bottom: 20px;
  margin-top: $footer-padding-top;
  text-align: center;
}

.footer__button {
  margin: 0 auto;
}
