.header {
  overflow: hidden;
  @extend %flex-sb;
  padding: var(--header-padding);
  height: var(--header-hight);
  width: 100%;
  border-bottom: 1px solid $border-color;
  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}
