.hero {
  overflow: hidden;
  min-height: var(--hero-hight);
  text-align: center;
  background-color: $hero-background-color;
  background-image: linear-gradient(
      $gradient-background-color,
      $gradient-background-color
    ),
    var(--hero-bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: var(--hero-padding);
  margin-bottom: var(--section-padding);
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--hero-bg-img2x);
  }
}

.hero__title {
  display: inline-block;
  font-size: var(--hero-title-size);
  font-weight: $hero-title-weight;
  line-height: var(--hero-title-line-height);
  letter-spacing: $hero-title-letter-spacing;
  color: $light-text-color;
  margin-bottom: $lattice-margin;
  width: var(--hero-title-width);
}
