.modal {
  width: 530px;
  min-height: 580px;
  padding: 40px;
  background-color: $light-text-color;
  box-shadow: $shadow;
  border-radius: $radius;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
}

.backdrop {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  background-color: $backdrop-bg-color;
  transition: opacity $transition-animation;
}

.backdrop__modal {
  position: relative;
  margin: auto;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
