.page-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  }
}

.page-nav__items {
  @extend %flex-st;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    align-items: center;
    flex-direction: row;
  }
}

.page-nav__list {
  @extend %list;
  text-align: start;
  position: relative;
  display: block;
  height: $nav-text-size;
  width: auto;
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: $address-m-b;
    }
    @media screen and (min-width: 768px) {
      margin-right: $address-m-r;
    }
  }
}

.page-nav__link {
  @extend %link;
  display: block;
  font-size: $nav-text-size;
  line-height: $nav-text-line-height;
  font-weight: $header-text-weight;
  letter-spacing: $header-letter-spacing;
  color: $primary-text-color;
  transition: color $transition-animation;
  &.current {
    color: $hover-text-color;
    &::after {
      @extend %underline;
    }
  }

  &:hover,
  &:focus,
  &:active {
    color: $hover-text-color;
    &::after {
      @extend %underline;
    }
  }
  @media screen and (min-width: 768px) {
    font-size: $nav-text-size-tab;
    line-height: $nav-text-line-height-tab;
  }
}
