.section {
  overflow: hidden;
  width: 100%;
  padding: var(--section-padding);
}

.section--hidden {
  display: none;
}

/*.section--low {
  padding: 0;
}*/

.section--grey {
  background-color: $secondry-background-color;
}

.section__title {
  font-size: var(--section-title-size);
  font-weight: $section-title-weight;
  letter-spacing: $text-s-letter-spacing;
  padding-bottom: var(--title-pagging-bottom);
}

.section__buttons--center {
  padding-bottom: var(--title-pagging-bottom);
}
